<p>Nombre del empleado: {{nombre}}</p>  <!--interpolación{{}}--> 
<p>Apellido del empleado: {{apellido}}</p>
<p>Edad del empleado: {{edad<18 ? "Es menor de Edad":"Mayor de edad"}}</p>
<p>Empresa del empleado: {{empresa}}</p>
<!--Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro">-->

<br/> 
<br/>
<!--<input type="button" value="Intro!"(click)="llamaEmpresa(empresa.value)"/>-->

Introduce la empresa: <input type="text"[(ngModel)]="empresa">

{{textoDeRegistro}}
<br/>
 Registrado: <input type="radio" value="si" name="nRegistro" id="registro"[checked]="useRegistrado"(click)="setusuarioRegistrado($event)"/><br/>
 No Registrado: <input type="radio" value="no" name="nRegistro" (click)="setusuarioRegistrado($event)"/>
 
 {{getRegistroUsuario()}}